<footer class="main-footer">
  <div class="float-right hidden-xs">
    <%#= image_tag 'logo.png', style: 'width: 120px; margin-top: -10px;' %>
  </div>
  <strong>LuzDeLima</strong>
  <%#= link_to "&copy;".html_safe, new_user_session_path, class: 'text-info' %>
  2018-<%= Date.today.year %>
</footer>
