<%= render 'shared/show', box_class: 'info', object: @construction_type%>

<div class="card card-outline card-info">
  <div class="card-header">
    <h3 class="card-title">
      Etapas  
    </h3>
  </div>
  
 

  <div class="card-body p-0">  
    <table class="bootstrap-table-mobile">
      <thead>
        <tr>
          <th data-align='center'>ID</th>
          <th data-align='left'>Etapa</th>
          <th data-align='left'>Tipos de Tarefa</th>
        </tr>
      </thead>
      <tbody>
        <% @construction_type.task_types.each do |t| %>
          <tr>                
            <td><%= t.id %></td>
            <td><%= t.stage.name %></td>  
            <td><%= t.name %></td>  
          </tr>
        <% end %>
      </tbody>
    </table>          
  </div>
</div> 